In [ ]:
Easy: Create a list comprehension that generates a list of squares of numbers from 1 to 10.
Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Medium: Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
Input: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Output: ['apple', 'cherry', 'date']

Lists:
Easy: Create a list containing the numbers 1 to 5 and then append the number 6 to it.
Output: [1, 2, 3, 4, 5, 6]

Medium: Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]
List 2: [3, 4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

Map:
Easy: Use the map function to double each element in a list.
Input: [1, 2, 3, 4, 5]
Output: [2, 4, 6, 8, 10]

Medium: Use the map function to convert a list of strings to uppercase.
Input: ['apple', 'banana', 'cherry']
Output: ['APPLE', 'BANANA', 'CHERRY']

Filter:
Easy: Use the filter function to get all even numbers from a list.
Input: [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]

Medium: Use the filter function to get all words from a list that start with the letter 'b'.
Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']
Output: ['banana', 'blueberry']

Functions:
Easy: Write a function called add that takes two numbers as input and returns their sum.
Input: add(3, 4)
Output: 7

Medium: Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.
Input: calculate_average([1, 2, 3, 4, 5])
Output: 3.0
@everyone  no use of ChatGPT u can use google

In [1]:
#Create a list comprehension that generates a list of squares of numbers from 1 to 10.
#Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
l1=[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[i*i for i in l1]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
l1=['apple', 'banana', 'cherry', 'date', 'elderberry']
new_list=[i for i in l1 if len(i) <= 5]
print(new_list)

['apple', 'date']

In [11]:
#Create a list containing the numbers 1 to 5 and then append the number 6 to it.

lst=[1,2,3,4,5]
lst.append(6)
print(lst)



#Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]
List 2: [3, 4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

In [17]:
list1=[1,2,3,4]
list2=[3,4,5,6]
n_l=list1+list2
n_l1=set(n_l)
list(n_l1)

[1, 2, 3, 4, 5, 6]

In [ ]:
Easy: Use the map function to double each element in a list.
Input: [1, 2, 3, 4, 5]
Output: [2, 4, 6, 8, 10]

In [21]:

lst=[1,2,3,4,5]
def square (a):
    return a*2

list(map(square,lst))

[2, 4, 6, 8, 10]

In [27]:
lst=['apple', 'banana', 'cherry']
list(map(str.upper,lst))

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
Use the filter function to get all even numbers from a list.
lst: [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]

In [31]:
lst=[1,2,3,4,5,6]
new_lst=list(filter(lambda x:x%2==0,lst))
print(new_lst)

[2, 4, 6]

In [ ]:
 Use the filter function to get all words from a list that start with the letter 'b'.
Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']
Output: ['banana', 'blueberry']

In [34]:
str= ['apple', 'banana', 'cherry', 'blueberry', 'date']
new_lst=list(filter(lambda x:x[0]=='b',str))
print(new_lst)

['banana', 'blueberry']

In [ ]:
Write a function called add that takes two numbers as input and returns their sum.
Input: add(3, 4)
Output: 7

In [35]:
def add(x,y):
    return(x+y)

In [36]:
add(3,4)

7

In [ ]:
Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.
Input: calculate_average([1, 2, 3, 4, 5])
Output: 3.0

In [57]:
#def calculate_average(a,b,c,d,e):
    #average = (a+b+c+d+e)/5
    #return average
def calculate_average(numbers):
    total=sum(numbers)
    avg=total/len(numbers)
    return avg

In [60]:
calculate_average([1,2,3,4,5])

3.0